RPC_URL=https://assam-rpc.tea.xyz
CHAIN_ID=93384
CONDUIT_API_KEY=<CONDUIT_API_KEY>

# Contract deployment variables
FEE_COLLECTOR_ADDRESS=<who gets paid the service fee>

# Deployment key - used to deploy and own the contract
PRIVATE_KEY=<key used

# Signer configuration
# This key will be used to sign valid cashouts. Keep it secure and never share it!
SIGNER_PRIVATE_KEY=<cashout requires a signer. who is paying for it?>